.float-left {
    float: left;
    padding: 0 1em 0em 0;
}

.float-right {
    float: right;
    padding: 0 0 0em 1em;
}

img.center {
    display: block;
    margin: 0 auto;
}

.icon {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: top;
    width: auto;
    height: 1.5em;
}

.compact-table {
    display: inline-block;
    padding-right: 10px;
}

.compact-table .table-wrapper {
    width: initial;
    max-width: initial;
}

.compact-table td {
    min-width: 50px;
}

.compact-table.notation-table td {
    min-width: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

table tr th {
  text-align: left;
}

figcaption {
    font-style: italic;
    display: block;
    text-align: center;
}

.float-figure {
    width: 360px;
}

.video-figure {
    width: 100%;
}

@media only screen and (max-width: 786px) {
    .float-left {
        float: none;
        display: block;
        padding: initial;
    }

    .float-right {
        float: none;
        display: block;
        padding: initial;
    }

    .float-figure {
        width: 100%;
        padding: 1em 0 1em 0;
    }
}
